<app-header></app-header>
<div
  class="container mt-5"
  style="box-shadow: 5px 10px 15px 5px #888888; border-radius: 10px"
>
  <div class="row" style="padding: 45px">
    <div class="col-6"></div>
    <div class="col-6">
      <div class="clean_modal" id="forgot_modal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content" style="border-left: 2px solid whitesmoke">
            <i style="text-align: center"><h2>Forgot Password</h2></i>

            <div class="modal-body">
              <form [formGroup]="ForgotPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <input
                    type="email"
                    formControlName="email"
                    placeholder="Email"
                    class="form-control input-lg rounded"
                  />
                  <small
                    class="text-danger"
                    *ngIf="
                      ForgotPasswordForm.get('email').hasError('required') &&
                      (ForgotPasswordForm.controls['email'].dirty ||
                        ForgotPasswordForm.controls['email'].touched)
                    "
                  >
                    This field is required.
                  </small>
                  <small
                    class="text-danger"
                    *ngIf="
                      ForgotPasswordForm.get('email').hasError('email') &&
                      (ForgotPasswordForm.controls['email'].dirty ||
                        ForgotPasswordForm.controls['email'].touched)
                    "
                  >
                    This email is invalid.
                  </small>
                </div>
                <button
                  type="submit"
                  name="submit"
                  [disabled]="!ForgotPasswordForm.valid"
                  class="btn btn-primary btn-full btn-medium rounded"
                >
                  Send New Password
                </button>
                <div class="form-group text-center small font-weight-bold mt-3">
                  Want to
                  <a routerLink="/Home/User/SignIn"> Login?</a>
                </div>
                <hr class="my-4" />
                <div class="form-group text-center small font-weight-bold mb-0">
                  Don’t have an account?
                  <a routerLink="/Home/User/SignUp"> Register</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
