<div class="container" style="margin-top:30px;">
    <div class="row justify-content-center">

        <div class="card card-rounded">
            <div class="card-body">
                <h2 style="text-align: center;margin-bottom: 15px;">Open Orders</h2>
                <div class="table-responsive  mt-1">
                    <table class="table select-table">
                        <thead>
                            <tr>
                                <th>Total Price</th>
                                <th>Patient Name</th>
                                <th> </th>
                                <th> </th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of OpenOrders">
                                <td>
                                    <h6>{{item.totalPrice}}</h6>
                                </td>
                                <td>
                                    <h6>{{item.firstName +' '+ item.lastName}}</h6>
                                </td>
                                <td>
                                    <a class="btn btn-outline-info btn-icon-text" (click)="goToOrderDrugs(item.id)"><i class="ti-file btn-icon-prepend"></i> Details</a>
                                </td>
                                <td>
                                    <a class="btn btn-outline-success btn-icon-text" (click)="SetOrderAsPlaced(item.id)"> <i class="ti-check btn-icon-prepend"></i> Set As Placed</a>
                                </td>
                                <td>
                                    <a class="btn btn-outline-danger btn-icon-text" (click)="SetOrderAsCanceled(item.id)"><i class="ti-close btn-icon-prepend"></i>Cancel Order</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>