<div class="ml-0 ml-md-4">
    <div class="d-none d-md-block">
        <div class="row mb-md-5">
            <div class="col">
                <h5 class="mb-1 text-white">Address</h5>
                <p class="mb-0 text-white small">
                    You have full control to manage your own account setting.
                </p>
            </div>
            <div class="col-auto">
                <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#address_model" class="btn btn-primary btn-sm">
          Add New Address</a
        >
      </div>
    </div>
  </div>
  <div class="pt-5"></div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <div class="address-block bg-light rounded p-3">
            <a
              href="#"
              class="edit_address"
              data-toggle="modal"
              data-dismiss="modal"
              data-target="#address_model"
            >
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
                <a href="#" class="delete_address">
                    <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                </a>
                <h6>My Home Address</h6>
                <p class="text-muted">1234567890</p>
                <span class="text-muted">Chayan para, pal para, Ghogomali, Siliguri, West Bengal -
              734006</span
            >
          </div>
        </div>
        <div class="col-lg-6"></div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal clean_modal clean_modal-lg"
  id="address_model"
  tabindex="-1"
  aria-labelledby="address_model"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <form id="address_modal_form" [formGroup]="AddressForm">
                        <div class="form-group">
                            <input name="name" formControlName="addressName" type="text" placeholder="Address Name" class="form-control input-lg rounded" />
                        </div>
                        <div class="form-group">
                            <input name="phone" formControlName="phoneNumber" type="text" placeholder="Phone Number" class="form-control input-lg rounded" />
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-4">
                                    <label class="form-label" for="locality">City</label>
                                    <input type="text" required="" formControlName="city" class="form-control" name="city" id="locality" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-4">
                                    <label class="form-label" for="country">Street</label>
                                    <input type="text" required="" formControlName="street" class="form-control" name="country" id="country" />
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label class="form-label" for="apt">Apt / Suite / Floor</label>
                                    <input type="text" formControlName="details" class="form-control" name="apt" id="apt" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-4">
                                    <label class="form-label" for="postal_code">ZIP code</label>
                                    <input type="text" required="" formControlName="zipCode" class="form-control" name="zip_code" id="postal_code" />
                                </div>
                            </div>
                        </div>

                        <button type="submit" id="address_btn" name="submit" class="btn btn-primary btn-full btn-medium rounded">
            Add Address
          </button>
                    </form>
                </div>
            </div>
        </div>
    </div>