<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-12 order-md-2">
            <div class="row" style="margin-bottom: 25px;font-family: 'Patua One', cursive;font-size:40px;">Category: {{CategoryName}}</div>
            <div class="row">
                <div *ngFor="let item of DrugList" class="col-md-4 col-sm-6 col-12">
                    <div class="product">
                        <a (click)="GoToDrug(item.id)" class="product-img">
                            <img src="http://localhost:5000/images/{{item.picturePath}}" class="" alt="">
                        </a>
                        <div class="product-info">
                            <h3 style="font-family: 'Nunito Sans', sans-serif;font-size: 23px;">
                                <a (click)="GoToDrug(item.id)">{{item.name}}</a>
                            </h3>
                            <div class="product-value ">
                                <div class="row">
                                    <div class="col-4 current-price" style="display: flex;
                                    align-items: center;">
                                        ${{item.price}}
                                    </div>
                                    <a class="col-6 btn btn-rounded btn-primary " (click)="CheckItemIfInCart(item.id)"><i class="fa fa-shopping-cart"></i> Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>