<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-12 order-md-2">
            <div class="row shop-header justify-content-center">
                <!-- <div class="col-lg-6">
                    <div class="grid-icons">
                        <button class="three-column active"></button>
                        <button class="four-column d-none d-lg-block"></button>
                        <button class="five-column d-none d-lg-block"></button>
                        <button class="list-view"></button>
                    </div>
                </div>
                <div class="col-lg-6 text-lg-right">
                </div> -->
                <div class="header-search" style="width: 50%;">
                    <input class="form-control custom-search" placeholder="Search for Medicines Products" [(ngModel)]="search" (ngModelChange)="searchDrug()" type="text" />
                </div>
                <div style="margin-left: 25px;" class="btn-group">
                    <button type="button" class="btn btn-primary">{{selectedCategory}}</button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                        <a class="dropdown-item" style="color: crimson;" (click)="CategoryFilter(0, '') ">none</a>

                        <div *ngFor="let item of CategoryList">
                            <a class="dropdown-item" (click)="CategoryFilter(item.id, item.name) ">{{item.name}}</a>
                        </div>
                    </div>
                    <!-- <div>
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        Remember me
                      <i class="input-helper"></i></label>
                    </div> -->
                </div>
            </div>
            <div class="row">

                <div *ngFor="let item of SearchList" class="col-md-3 col-sm-6 col-12">
                    <div class="product">
                        <a (click)="goToDrug(item.id)" class="product-img">
                            <img src="http://localhost:5000/images/{{item.picturePath}}" class="" alt="">
                        </a>
                        <div class="product-info">

                            <h3>
                                <a href="product-single.html"> {{item.name}}</a>
                            </h3>
                            <div class="product-value">
                                <div class="current-price">Price: ${{item.price}}</div>
                                <div class="current-price">Quantity: {{item.availableQuantity}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>