<div class="ml-0 ml-md-4">
    <div class=" d-md-block" style="margin-bottom: 25px;">
        <div class="row mb-md-5">
            <div class="col">
                <h3 style="color: #a1c8ff;" class="mb-1">Change Password</h3>

            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form id="setting_form" [formGroup]="ChangePasswordForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group mb-4">
                            <label for="" class="form-label">Old Password</label>
                            <input required="" class="form-control" name="old_password" formControlName="oldPassword" type="password" />
                            <small class="text-danger" *ngIf="
                    ChangePasswordForm.get('oldPassword').hasError(
                      'required'
                    ) &&
                    (ChangePasswordForm.controls['oldPassword'].dirty ||
                      ChangePasswordForm.controls['oldPassword']
                        .touched)
                  ">
                This field is required.
              </small>
                            <small class="text-danger" *ngIf="oldPasswordValidation"> password is wrong</small>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-4">
                            <label for="" class="form-label">New Password</label>
                            <input required="" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,64})" class="form-control" id="new_password" formControlName="newPassword" name="new_password" type="password" />
                            <small class="text-danger" *ngIf="
                            ChangePasswordForm.get('newPassword').hasError('pattern') &&
                            (ChangePasswordForm.controls['newPassword'].dirty ||
                            ChangePasswordForm.controls['newPassword'].touched)
                          ">
                Password must have at least one big letter and one symbol <br />
              </small>
                            <small class="text-danger" *ngIf="
                    ChangePasswordForm.get('newPassword').hasError(
                      'required'
                    ) &&
                    (ChangePasswordForm.controls['newPassword'].dirty ||
                      ChangePasswordForm.controls['newPassword']
                        .touched)
                  ">
                This field is required.
              </small>
                            <small class="text-danger" *ngIf="
      ChangePasswordForm.get('newPassword').hasError(
        'minlength'
      ) &&
      (ChangePasswordForm.controls['newPassword'].dirty ||
        ChangePasswordForm.controls['newPassword']
          .touched)
    ">
                min length is 8
              </small>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-4">
                            <label for="" class="form-label">Confirm Password</label>
                            <input required="" class="form-control" formControlName="confirmPassword" name="confirm_password" type="password" />
                            <small class="text-danger" *ngIf="
                    ChangePasswordForm.get('confirmPassword').hasError(
                      'required'
                    ) &&
                    (ChangePasswordForm.controls['confirmPassword']
                      .dirty ||
                      ChangePasswordForm.controls['confirmPassword']
                        .touched)
                  ">
                This field is required.
              </small>
                            <small class="text-danger" *ngIf="matchValidation">
                confirm password must match the new password
              </small>
                        </div>
                    </div>
                </div>
                <div class="form-group text-right mb-0">
                    <button id="setting_form_btn" [disabled]="!ChangePasswordForm.valid" class="btn btn-primary btn-medium">
            Change Password
          </button>
                </div>
            </form>
        </div>
    </div>
</div>