<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Deliveries</h4>
            <p class="card-description">
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Email
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of deliveriesList">
                            <td class="py-1">
                                {{item.email}}
                            </td>
                            <td>
                                {{item.lastName}} {{item.lastName}}
                            </td>
                            <td>
                                {{item.phoneNumber}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-danger btn-icon-text">
                                    <i class="ti-trash btn-icon-prepend"></i>delete</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>