<div class="ml-0 ml-md-4">
    <div class="d-none d-md-block">
        <div class="row mb-md-5">
            <div class="col">
                <h3 style="color: #a1c8ff;" class="mb-1">Drugs Notification</h3>

            </div>
            <div class="col-auto">
                <a routerLink="/Patient/AddDrug" class="btn btn-primary btn-sm">
                    <i class="fa fa-prescription-bottle-alt"></i> Add Drug</a>
            </div>
        </div>
    </div>
    <div class="pt-5"></div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div *ngFor="let item of myDrugs" class="col-lg-6" style="margin-bottom: 15px;">
                    <div class="address-block bg-light rounded p-3">
                        <a (click)="goToEditDrug(item.id)" class="edit_address" data-toggle="modal" data-dismiss="modal" data-target="#address_model">
                            <i class="ti-pencil-alt" aria-hidden="true"></i>
                        </a>
                        <a (click)="  deleteDrug(item.id)" class="delete_address">
                            <i class="ti-trash text-danger"></i>
                        </a>
                        <h6>{{item.drugName}}</h6>
                        <span class="text-muted">Expire Date: {{item.expireDate | date}}</span>
                        <h6>
                            On:
                            <span class="text-muted" *ngFor="let item of item.times.slice().reverse()">{{' '+item.substring(0, 5)+'  ,'}}</span>
                        </h6>
                    </div>
                </div>
                <div class="col-lg-6"></div>
            </div>
        </div>
    </div>
</div>