<div class="header">
  <div class="container-fluid theme-container">
    <div class="top-header">
      <div class="row align-items-center">
        <div class="col-auto">
          <a href="index.html">
            <img src="assets/img/logo.png" alt="logo" class="header-logo" />
          </a>
        </div>
        <div class="col">
          <ul class="navbar-nav mr-auto">
            <div class="row">
              <li class="nav-item">
                <a
                  class="nav-link"
                  style="
                    margin: 5px 20px 5px 55px;
                    font-size: 17px;
                    color: black;
                  "
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  style="
                    margin: 5px 20px 5px 5px;
                    font-size: 17px;
                    color: black;
                  "
                  >Link</a
                >
              </li>
            </div>
          </ul>
        </div>
        <div class="col-auto">
          <ul class="header-right-options">
            <li class="link-item">
              <a
                class="btn btn-primary btn-sm"
                style="color: white"
                href="#"
                data-toggle="modal"
                data-dismiss="modal"
                data-target="#login_modal"
                >Login</a
              >
            </li>
            <li class="link-item">
              <a
                class="btn btn-primary btn-sm"
                style="color: white"
                href="#"
                data-toggle="modal"
                data-dismiss="modal"
                data-target="#register_modal"
                >Register</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mobile-header">
  <div class="container-fluid theme-container">
    <div class="row align-items-center">
      <div class="col-auto">
        <ul class="header-left-options">
          <li class="link-item open-sidebar">
            <i class="ti-menu"></i>
          </li>
        </ul>
      </div>
      <div class="col text-center">
        <img src="assets/img/logo.png" alt="logo" class="header-logo" />
      </div>
      <div class="col-auto">
        <ul class="header-right-options">
          <li class="link-item">
            <span class="badge badge-secondary">0</span>
            <i class="ti-bag"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-sidebar">
      <div class="close">
        <i class="ti-close"></i>
      </div>

      <div class="welcome d-flex align-items-center">
        <a
          href="#"
          data-toggle="modal"
          data-dismiss="modal"
          data-target="#login_modal"
          class="btn btn-soft-primary btn-md"
          >Login</a
        >
        <a
          href="#"
          data-toggle="modal"
          data-dismiss="modal"
          data-target="#register_modal"
          class="btn btn-primary btn-md"
          >Register</a
        >
        <!-- <div class="avater btn-soft-primary">H</div>
                    <span>Hi, Deep saha</span> -->
      </div>
      <div class="mobileMenuLinks mb-4 mt-2">
        <h6>Account Info</h6>
        <ul>
          <li><a href="account.html">Account</a></li>
          <li><a href="orders.html">My Orders</a></li>
          <li><a href="wishlist.html">Wish List</a></li>
          <li><a href="index.html">Logout</a></li>
        </ul>
      </div>
      <div class="mobileMenuLinks">
        <h6>Category</h6>
        <ul>
          <li><a href="category.html">AllMedicines</a></li>
          <li><a href="category.html">COVID Prevention</a></li>
          <li><a href="category.html">Featured</a></li>
          <li><a href="category.html">Fitness</a></li>
          <li><a href="category.html">Diabetes</a></li>
          <li><a href="category.html">COVID Test </a></li>
          <li><a href="category.html">Papular</a></li>
          <li><a href="category.html">Supplements</a></li>
          <li><a href="category.html">Nutrition</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</div>
