<div
  class="modal clean_modal clean_modal-lg"
  id="payment_modal"
  tabindex="-1"
  aria-labelledby="payment_modal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <div class="register_error d-none">
          <div class="alert f-size-16" role="alert"></div>
        </div>
        <form action="#" method="POST" id="register_form">
          <div class="form-group mb-3">
            <input
              name="email"
              type="number"
              required
              placeholder="Card Number"
              class="form-control rounded"
            />
          </div>
          <div class="form-group mb-3">
            <input
              name="password"
              type="number"
              required
              placeholder="CVC"
              class="form-control rounded"
            />
          </div>
          <div class="form-group mb-3">
            <input
              name=""
              type="text"
              required
              placeholder="Exp Date"
              class="form-control rounded checkIsNumber phone-check"
            />
          </div>

          <a
            id="register_btn"
            name="submit"
            class="btn btn-primary btn-full btn-medium rounded"
          >
            Register
          </a>
        </form>
      </div>
    </div>
  </div>
</div>
