<main>
    <div class="accounnt_header">
        <div class="container">
            <div class="row align-items-center">
                <div class="order-md-1 text-center text-md-left col-lg col-12">
                    <h1 class="h3 mb-0">User DashBoard</h1>
                </div>
                <div class="col-lg-auto col-12 order-md-2">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">
                                <a class="btn btn-primary" style="font-size: 15px;" routerLink="/Home"><i class="fa fa-home fa-10x  mr-2"></i>Back to home</a>
                            </li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </div>
    <div class="accounnt_body">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4 col-md-4 col-12">
                    <nav class="navbar navbar-expand-md mb-4 mb-lg-0 sidenav">
                        <!-- Menu -->
                        <a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold" href="#">Sidebar Menu</a>
                        <!-- Button -->
                        <button class="navbar-toggler d-md-none rounded bg-primary text-light" type="button" data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav" aria-label="Toggle navigation">
                            <span class="ti-menu"></span>
                        </button>
                        <!-- Collapse navbar -->
                        <div class="collapse navbar-collapse" id="sidenav">
                            <div class="navbar-nav flex-column">
                                <!-- List -->
                                <div class="border-bottom">
                                    <div class="m-4">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="avater btn-soft-primary">
                                                    {{ user.firstName[0] + " " + user.lastName[0] }}
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <h6 class="d-block font-weight-bold mb-0">
                                                    {{ user.firstName }} {{ user.lastName }}
                                                </h6>
                                                <small class="text-muted">{{ user.email }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-unstyled mb-0">
                                    <li class="nav-item" routerLinkActive="active">
                                        <a class="nav-link" routerLink="/Patient/Account"><i class="fa fa-user"></i> My
                                            Account</a>
                                    </li>
                                    <li class="nav-item" routerLinkActive="active">
                                        <a class="nav-link" routerLink="./ChangePassword"><i
                                                class="fa fa-lock"></i>Change Password</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" style="color: goldenrod;" routerLink="./MyDrugs"><i class="fas fa-capsules"></i>
                                            Drugs Notification  <i class="ti-crown"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" style="color: goldenrod;" routerLink="./WaterNotification"><i
                                                class="fas fa-tint" ></i> Drinking Water Notification  <i class="ti-crown"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a style="color: goldenrod;" class="nav-link" routerLink="/Patient/Account/Health-Report"><i
                                                class="fas fa-file-medical"></i> Health Report  <i class="ti-crown"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" routerLink="./Address"><i class="fa fa-address-book"></i>
                                            Address</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" routerLink="/Patient/Orders"><i
                                                class="fa fa-shopping-cart"></i> Order</a>
                                    </li>

                                    <li class="nav-item" (click)="LogOut()">
                                        <a class="nav-link"><i class="fa fa-sign-out"></i> Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-lg-8 col-md-8 col-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</main>