<div
  class="container mt-5"
  style="box-shadow: 5px 10px 15px 5px #888888; border-radius: 10px"
>
  <div class="row">
    <div class="col-12">
      <div class="clean_modal clean_modal-lg">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <i style="text-align: center">
              <h2>Sing Up</h2>
            </i>
            <div class="col-12">
              <a
                class="
                  btn btn-gray-border btn-full
                  rounded
                  btn-large
                  text-capitalize
                  mb-3
                "
              >
                <img src="assets/img/facebook.png" alt="" /> Login with Facebook
              </a>
            </div>
            <div class="col-12 text-center">
              <p class="">Or Sign Up With</p>
            </div>
            <div class="modal-body" style="padding: 10px 40px">
              <form
                [formGroup]="RegistrationForm"
                (ngSubmit)="onSubmit()"
                id="register_form"
              >
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group mb-3">
                      <input
                        class="form-control"
                        formControlName="fname"
                        placeholder="First Name"
                        type="text"
                      />
                      <small
                        class="text-danger"
                        *ngIf="
                          RegistrationForm.get('fname').hasError('required') &&
                          (RegistrationForm.controls['fname'].dirty ||
                            RegistrationForm.controls['fname'].touched)
                        "
                      >
                        This field is required.
                      </small>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group mb-3">
                      <input
                        class="form-control"
                        formControlName="lname"
                        placeholder="Last Name"
                        type="text"
                      />
                      <small
                        class="text-danger"
                        *ngIf="
                          RegistrationForm.get('lname').hasError('required') &&
                          (RegistrationForm.controls['lname'].dirty ||
                            RegistrationForm.controls['lname'].touched)
                        "
                      >
                        This field is required.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <input
                    type="email"
                    formControlName="email"
                    placeholder="Email"
                    class="form-control rounded"
                  />
                  <small
                    class="text-danger"
                    *ngIf="
                      RegistrationForm.get('email').hasError('required') &&
                      (RegistrationForm.controls['email'].dirty ||
                        RegistrationForm.controls['email'].touched)
                    "
                  >
                    This field is required.
                  </small>
                  <small class="text-danger" *ngIf="emailExistValidation">
                    This Email is already exist please try another one
                  </small>
                  <small
                    class="text-danger"
                    *ngIf="
                      RegistrationForm.get('email').hasError('email') &&
                      (RegistrationForm.controls['email'].dirty ||
                        RegistrationForm.controls['email'].touched)
                    "
                  >
                    This email is invalid.
                  </small>
                </div>
                <div class="form-group mb-3">
                  <input
                    formControlName="password"
                    type="password"
                    required
                    placeholder="Password"
                    pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,64})"
                    class="form-control rounded"
                  />
                  <small
                    class="text-danger"
                    *ngIf="
                      RegistrationForm.get('password').hasError('required') &&
                      (RegistrationForm.controls['password'].dirty ||
                        RegistrationForm.controls['password'].touched)
                    "
                  >
                    This field is required.
                  </small>

                  <small
                    class="text-danger"
                    *ngIf="
                      RegistrationForm.get('password').hasError('pattern') &&
                      (RegistrationForm.controls['password'].dirty ||
                        RegistrationForm.controls['password'].touched)
                    "
                  >
                    Password must have at least 8 character <BR />
                    Password must have at least one big letter and one symbol
                  </small>
                </div>
                <div class="form-group mb-3">
                  <input
                    formControlName="phone"
                    type="text"
                    placeholder="Phone"
                    class="form-control rounded checkIsNumber phone-check"
                  />
                </div>

                <button
                  id="register_btn"
                  [disabled]="!RegistrationForm.valid"
                  class="btn btn-primary btn-full btn-medium rounded"
                >
                  Register
                </button>

                <hr class="my-4" />
                <div class="form-group text-center small font-weight-bold mb-0">
                  have an account?
                  <a routerLink="/Home/login"> Login</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
