<app-header></app-header>
<div
  class="container mt-5"
  style="box-shadow: 5px 10px 15px 5px #888888; border-radius: 10px"
>
  <div class="row">
    <div class="clean_modal clean_modal-lg" style="width: 100%">
      <div
        class="modal-dialog modal-dialog-centered"
        style="max-width: 100%; margin: 0"
      >
        <div class="modal-content">
          <div class="modal-body">
            <!-- Contenedor -->

            <i style="text-align: center"><h2>Pricing Plan</h2></i>
            <div class="pricing-wrapper clearfix">
              <div class="pricing-table">
                <h3 class="pricing-title">Basico</h3>
                <div class="price text-white">$60<sup>/ mes</sup></div>
                <!-- Lista de Caracteristicas / Propiedades -->
                <ul class="table-list">
                  <li>10 GB <span>De almacenamiento</span></li>
                  <li>1 Dominio <span>incluido</span></li>
                  <li>25 GB <span>De transferencia mensual</span></li>
                  <li>
                    Base de datos <span class="unlimited">ilimitadas</span>
                  </li>
                  <li>
                    Cuentas de correo
                    <span class="unlimited">ilimitadas</span>
                  </li>
                  <li>CPanel <span>incluido</span></li>
                </ul>
                <!-- Contratar / Comprar -->
                <div class="table-buy">
                  <p>$60<sup>/ mes</sup></p>
                  <a href="#" class="pricing-action">Comprar</a>
                </div>
              </div>

              <div class="pricing-table recommended">
                <h3 class="pricing-title">Premium</h3>
                <div class="price text-white">$100<sup>/ mes</sup></div>
                <!-- Lista de Caracteristicas / Propiedades -->
                <ul class="table-list">
                  <li>35 GB <span>De almacenamiento</span></li>
                  <li>5 Dominios <span>incluidos</span></li>
                  <li>100 GB <span>De transferencia mensual</span></li>
                  <li>
                    Base de datos <span class="unlimited">ilimitadas</span>
                  </li>
                  <li>
                    Cuentas de correo
                    <span class="unlimited">ilimitadas</span>
                  </li>
                  <li>CPanel <span>incluido</span></li>
                </ul>
                <!-- Contratar / Comprar -->
                <div class="table-buy">
                  <p>$100<sup>/ mes</sup></p>
                  <a href="#" class="pricing-action">Comprar</a>
                </div>
              </div>

              <div class="pricing-table">
                <h3 class="pricing-title">Ultimate</h3>
                <div class="price text-white">$200<sup>/ mes</sup></div>
                <!-- Lista de Caracteristicas / Propiedades -->
                <ul class="table-list">
                  <li>100 GB <span>De almacenamiento</span></li>
                  <li>8 Dominios <span>incluidos</span></li>
                  <li>200 GB <span>De transferencia mensual</span></li>
                  <li>
                    Base de datos <span class="unlimited">ilimitadas</span>
                  </li>
                  <li>
                    Cuentas de correo
                    <span class="unlimited">ilimitadas</span>
                  </li>
                  <li>CPanel <span>incluido</span></li>
                </ul>
                <!-- Contratar / Comprar -->
                <div class="table-buy">
                  <p>$200<sup>/ mes</sup></p>
                  <a href="#" class="pricing-action">Comprar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
