<div class="row">
  <div class="col-xl-6 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div
          class="
            icon icon-lg icon-shape
            bg-gradient-dark
            shadow-dark
            text-center
            border-radius-xl
            mt-n4
            position-absolute
          "
        >
          <i class="material-icons opacity-10">person</i>
        </div>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 text-capitalize">Orders Available</p>
          <h4 class="mb-0">
            {{ ReservationAvailableCount.reservationAvailableCount }}
          </h4>
        </div>
      </div>
      <hr class="dark horizontal my-0" />
      <div class="card-footer p-3">Number of user requests</div>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div
          class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
        >
          <h6 class="text-white text-capitalize ps-3">Order Available List</h6>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th
                  class="
                    text-center text-uppercase text-secondary text-xxs
                    font-weight-bolder
                    opacity-7
                  "
                >
                  Customer Name
                </th>
                <th
                  class="
                    text-center text-uppercase text-secondary text-xxs
                    font-weight-bolder
                    opacity-7
                    ps-2
                  "
                >
                  Amount
                </th>
                <th
                  class="
                    text-center text-uppercase text-secondary text-xxs
                    font-weight-bolder
                    opacity-7
                  "
                >
                  Status
                </th>
                <th
                  class="
                    text-center text-uppercase text-secondary text-xxs
                    font-weight-bolder
                    opacity-7
                  "
                >
                  Address Information
                </th>
                <th
                  class="
                    text-center text-uppercase text-secondary text-xxs
                    font-weight-bolder
                    opacity-7
                  "
                >
                  Place Order Submitted!
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of OrdersForDelivery"
                class="
                  text-center text-uppercase text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                "
              >
                <td>
                  {{ item.customerName }}
                </td>
                <td>
                  {{ item.amount }}
                </td>
                <td>
                  {{ item.status }}
                </td>
                <td>
                  <span
                    *ngIf="item.lat == 0"
                    (click)="open(mymodal, item.orderId)"
                    style="cursor: pointer"
                  >
                    <i
                      style="font-size: 20px"
                      class="fas fa-address-card"
                      title="Show Address Information"
                    ></i>
                  </span>
                  <span
                    *ngIf="item.lat != 0"
                    data-toggle="modal"
                    data-dismiss="modal"
                    data-target="#address_model"
                    (click)="ChangeMapLocation(item.lat, item.lng)"
                    style="cursor: pointer"
                  >
                    <i
                      style="font-size: 20px"
                      class="fas fa-address-card"
                      title="Show Address Information"
                    ></i>
                  </span>
                </td>
                <td>
                  <span
                    (click)="ReservationAvailable(item.orderId)"
                    style="cursor: pointer"
                  >
                    <i
                      style="font-size: 20px"
                      class="fas fa-clipboard-check"
                      title="Take Available Order"
                    ></i>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Customer Address Information
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="address_modal_form">
      <div class="form-group">
        <label class="form-label" for="locality">Address Name</label>

        <input
          type="text"
          disabled
          [value]="Locatins.addressName"
          class="form-control input-lg rounded"
        />
      </div>
      <div class="form-group">
        <label class="form-label" for="locality">Phone Number</label>

        <input
          disabled
          name="phone"
          type="text"
          [value]="Locatins.phoneNumber"
          class="form-control input-lg rounded"
        />
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-4">
            <label class="form-label" for="locality">City</label>
            <input
              type="text"
              disabled
              class="form-control"
              [value]="Locatins.city"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-4">
            <label class="form-label" for="country">Zip Code</label>
            <input
              type="number"
              disabled
              class="form-control"
              [value]="Locatins.zipCode"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-4">
            <label class="form-label" for="locality">Details</label>
            <input
              type="text"
              disabled
              class="form-control"
              [value]="Locatins.details"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-4">
            <label class="form-label" for="country">Street</label>
            <input
              type="text"
              disabled
              class="form-control"
              [value]="Locatins.street"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Ok
    </button>
  </div>
</ng-template>
<div
  class="modal clean_modal clean_modal-lg"
  id="address_model"
  tabindex="-1"
  aria-labelledby="address_model"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body" style="height: 450px; width: 100%; padding: auto">
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>
