<div class="row">
  <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div
          class="
            icon icon-lg icon-shape
            bg-gradient-dark
            shadow-dark
            text-center
            border-radius-xl
            mt-n4
            position-absolute
          "
        >
          <i class="material-icons opacity-10">person</i>
        </div>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 text-capitalize">
            Daily number of registered patients
          </p>
          <h4 class="mb-0">{{ m.registeredDailyCount }}</h4>
        </div>
      </div>
      <hr class="dark horizontal my-0" />
      <div class="card-footer p-3">
        <button class="mb-0 btn" (click)="DailyCareSystemReport()">
          Download report of care system Daily
        </button>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div
          class="
            icon icon-lg icon-shape
            bg-gradient-primary
            shadow-primary
            text-center
            border-radius-xl
            mt-n4
            position-absolute
          "
        >
          <i class="material-icons opacity-10">person</i>
        </div>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 text-capitalize">
            Monthly number of registered patients
          </p>
          <h4 class="mb-0">{{ m1.registeredMonthlyCount }}</h4>
        </div>
      </div>
      <hr class="dark horizontal my-0" />
      <div class="card-footer p-3">
        <button
          class="mb-0 btn"
          style="cursor: pointer"
          (click)="MonthlyCareSystemReport()"
        >
          Download report of care system monthly
        </button>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div
          class="
            icon icon-lg icon-shape
            bg-gradient-success
            shadow-success
            text-center
            border-radius-xl
            mt-n4
            position-absolute
          "
        >
          <i class="material-icons opacity-10">person</i>
        </div>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 text-capitalize">
            Annual number of registered patients
          </p>
          <h4 class="mb-0">{{ m2.registeredAnnualCount }}</h4>
        </div>
      </div>
      <hr class="dark horizontal my-0" />
      <div class="card-footer p-3">
        <button
          class="mb-0 btn"
          style="cursor: pointer"
          (click)="AnnualCareSystemReport()"
        >
          Download report of care system annual
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-xl-6 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div
          class="
            icon icon-lg icon-shape
            bg-gradient-dark
            shadow-dark
            text-center
            border-radius-xl
            mt-n4
            position-absolute
          "
        >
          <i class="material-icons opacity-10">person</i>
        </div>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 text-capitalize">Employee salaries</p>
          <h4 class="mb-0">${{ me.monthlyEmployeeSalaries }}</h4>
        </div>
      </div>
      <hr class="dark horizontal my-0" />
      <div class="card-footer p-3">
        <p class="mb-0">Total monthly employee salaries</p>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div
          class="
            icon icon-lg icon-shape
            bg-gradient-primary
            shadow-primary
            text-center
            border-radius-xl
            mt-n4
            position-absolute
          "
        >
          <i class="material-icons opacity-10">person</i>
        </div>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 text-capitalize">Employee salaries</p>
          <h4 class="mb-0">${{ me1.annualEmployeeSalaries }}</h4>
        </div>
      </div>
      <hr class="dark horizontal my-0" />
      <div class="card-footer p-3">
        <p class="mb-0">Total annual employee salaries</p>
      </div>
    </div>
  </div>
</div>
