<div class="row">
  <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div
          class="
            icon icon-lg icon-shape
            bg-gradient-dark
            shadow-dark
            text-center
            border-radius-xl
            mt-n4
            position-absolute
          "
        >
          <i class="material-icons opacity-10">person</i>
        </div>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 text-capitalize">
            Daily number of registered patients
          </p>
          <h4 class="mb-0">{{ m.registeredDailyCount }}</h4>
        </div>
      </div>
      <hr class="dark horizontal my-0" />
      <div class="card-footer p-3">
        <button class="mb-0 btn" (click)="DailyCareSystemReport()">
          Download report of care system Daily
        </button>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div
          class="
            icon icon-lg icon-shape
            bg-gradient-primary
            shadow-primary
            text-center
            border-radius-xl
            mt-n4
            position-absolute
          "
        >
          <i class="material-icons opacity-10">person</i>
        </div>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 text-capitalize">
            Monthly number of registered patients
          </p>
          <h4 class="mb-0">{{ m1.registeredMonthlyCount }}</h4>
        </div>
      </div>
      <hr class="dark horizontal my-0" />
      <div class="card-footer p-3">
        <button
          class="mb-0 btn"
          style="cursor: pointer"
          (click)="MonthlyCareSystemReport()"
        >
          Download report of care system monthly
        </button>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div
          class="
            icon icon-lg icon-shape
            bg-gradient-success
            shadow-success
            text-center
            border-radius-xl
            mt-n4
            position-absolute
          "
        >
          <i class="material-icons opacity-10">person</i>
        </div>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 text-capitalize">
            Annual number of registered patients
          </p>
          <h4 class="mb-0">{{ m2.registeredAnnualCount }}</h4>
        </div>
      </div>
      <hr class="dark horizontal my-0" />
      <div class="card-footer p-3">
        <button
          class="mb-0 btn"
          style="cursor: pointer"
          (click)="AnnualCareSystemReport()"
        >
          Download report of care system annual
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 30px">
  <div class="row justify-content-center">
    <div class="card card-rounded">
      <div class="card-body">
        <h2 style="text-align: center; margin-bottom: 15px">Patient List</h2>
        <div class="table-responsive mt-1">
          <table class="table select-table">
            <thead>
              <tr>
                <th class="align-middle text-center text-sm">Patient Name</th>
                <th class="align-middle text-center text-sm">Phone Number</th>
                <th class="align-middle text-center text-sm">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of PatientList">
                <td class="align-middle text-center text-sm">
                  {{ item.name }}
                </td>
                <td class="align-middle text-center text-sm">
                  {{ item.phoneNumber }}
                </td>
                <td class="align-middle text-center text-sm">
                  {{ item.email }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
