<div
  class="modal clean_modal clean_modal-lg"
  id="login_modal"
  tabindex="-1"
  aria-labelledby="login_modal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <a
              href="#"
              class="
                btn btn-gray-border btn-full
                rounded
                btn-large
                text-capitalize
                mb-3
              "
            >
              <img src="assets/img/facebook.png" alt="" />
              Login with Facebook
            </a>
            <a
              href="#"
              class="
                btn btn-gray-border btn-full
                rounded
                btn-large
                text-capitalize
              "
            >
              <img src="assets/img/google.png" alt="" />
              Login with Google
            </a>
          </div>
          <div class="col-12 text-center">
            <p class="text-muted my-4">Or Login With</p>
          </div>
        </div>
        <div class="login_error d-none">
          <div class="alert" role="alert"></div>
        </div>
        <form action="#" id="login_modal_form" method="POST">
          <div class="form-group">
            <input
              name="email"
              required
              type="email"
              placeholder="Email"
              class="form-control input-lg rounded"
            />
          </div>
          <div class="form-group">
            <input
              name="password"
              required
              type="password"
              placeholder="Password"
              class="form-control input-lg rounded"
            />
          </div>
          <button
            type="submit"
            id="login_btn"
            name="submit"
            class="btn btn-primary btn-full btn-medium rounded"
          >
            Login
          </button>
          <div class="form-group text-center small font-weight-bold mt-3">
            <a
              href="#"
              data-toggle="modal"
              data-dismiss="modal"
              data-target="#forgot_modal"
            >
              Forgot Password?</a
            >
          </div>
          <hr class="my-4" />
          <div class="form-group text-center small font-weight-bold mb-0">
            Don’t have an account?
            <a
              href="#"
              data-toggle="modal"
              data-dismiss="modal"
              data-target="#register_modal"
            >
              Register</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
