/* @import '~mdb-ui-kit/css/mdb.min.css'; */

@media screen and (min-width: 0px) and (max-width: 767px) {
    #LgCarousel {
        display: none;
    }
    #MdCarousel {
        display: none;
    }
    #SmCarousel {
        display: block;
    }
    #web {
        display: none;
    }
    #phone {
        display: block;
    }
    #Category {
        background-image: url(../../../../assets/img/c2.png);
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    #LgCarousel {
        display: none;
    }
    #MdCarousel {
        display: block;
    }
    #SmCarousel {
        display: none;
    }
    #web {
        display: block;
    }
    #phone {
        display: none;
    }
    #Category {
        background-image: url(../../../../assets/img/c1.png);
    }
}

@media screen and (min-width: 1200px) {
    #LgCarousel {
        display: block;
    }
    #MdCarousel {
        display: none;
    }
    #SmCarousel {
        display: none;
    }
    #web {
        display: block;
    }
    #phone {
        display: none;
    }
    #Category {
        background-image: url(../../../../assets/img/c1.png);
    }
}

.carousel-control-next {
    display: none !important;
}

#fff {
    margin-top: -100px;
}