<!-- //product Grid -->
<div class="pt-5">
  <div class="container-fluid theme-container">
    <div class="row mb-4">
      <div class="col">
        <h5 class="product-heading">Deals of the day</h5>
      </div>
      <div class="col-auto text-md-right">
        <a class="btn btn-primary btn-sm product-heading-btn">See All</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-4 col-6" *ngFor="let pd of list">
        <div class="product">
          <a routerLink="/Patient/Shop/Product" class="product-img">
            <img
              src="assets/img/product/{{ pd.picturePath }}"
              class=""
              alt=""
            />
          </a>
          <div class="product-info">
            <h3>
              <a routerLink="/Patient/Shop/Product"> {{ pd.name }}</a>
            </h3>
            <div class="product-value">
              <div class="current-price">{{ pd.price }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
