<div class="ml-0 ml-md-4">
    <div class="d-none d-md-block">
        <div class="row mb-md-5">
            <div class="col">
                <h5 class="mb-1 text-white">Orders</h5>
            </div>
            <div class="col-auto">
                <a routerLink="/Patient/Account" class="btn btn-primary btn-sm">
                    <i class="ti-angle-left"></i> Go Back</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>Order #</th>
                        <th>Date Purchased</th>
                        <th>Status</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of orders">
                        <td class="py-3">
                            <a class="nav-link-style fw-medium fs-sm" (click)="goToDrugDetails(item.id)" data-bs-toggle="modal">Order#{{item.id}}</a>
                        </td>
                        <td class="py-3">
                            {{item.createdOn| date: "dd/MM/yyyy"}}
                        </td>
                        <td class="py-3">
                            <span *ngIf="item.status == 'In Progress'" class="badge bg-soft-warning m-0">In Progress</span>
                            <span *ngIf="item.status == 'Placed'" class="badge bg-soft-info m-0">Placed</span>
                            <span *ngIf="item.status == 'Out for delivery'" class="badge bg-soft-primary m-0">Out for delivery</span>
                            <span *ngIf="item.status == 'Canceled'" class="badge bg-soft-danger m-0">Canceled</span>
                            <span *ngIf="item.status == 'Delivered'" class="badge bg-soft-success m-0">Delivered</span>
                        </td>
                        <td class="py-3">${{item.totalPrice}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>