<div class="header">
  <div class="container-fluid theme-container">
    <div class="top-header">
      <div class="row align-items-center">
        <div class="col-auto">
          <a href="index.html">
            <img src="assets/img/logo.png" alt="logo" class="header-logo" />
          </a>
        </div>
        <div class="col">
          <div class="header-search">
            <form action="#">
              <input
                class="form-control custom-search"
                placeholder="Search for Medicines and Health Products"
                type="text"
              />
            </form>
            <div class="search-content">
              <div class="search-product d-none">
                <!-- Search Popup -->
                <div class="product list-view">
                  <a href="product-single.html" class="product-img">
                    <img
                      src="assets/img/product/product-1.png"
                      class=""
                      alt=""
                    />
                  </a>
                  <div class="product-info">
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                      <i class="fa fa-star-o"></i>
                      <div class="review-count">4.5 (2,213)</div>
                    </div>
                    <h3>
                      <a href="product-single.html"
                        >CoviFind Covid 19 Antigen Self Test Kit</a
                      >
                    </h3>
                    <div class="product-value">
                      <div class="d-flex">
                        <small class="regular-price"
                          >MRP <del>₹2540.99</del></small
                        >
                        <div class="off-price">23% off</div>
                      </div>
                      <div class="current-price">₹1007.99</div>
                    </div>
                  </div>
                  <div class="product-actions">
                    <a href="#" class="btn btn-soft-primary">
                      <i class="ti-heart"></i>
                      Add to Wishlist
                    </a>
                    <a href="#" class="btn btn-primary">
                      <i class="ti-shopping-cart"></i>
                      Add to cart
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <ul class="header-right-options">
            <li class="link-item">
              <a
                class="btn btn-primary btn-sm"
                style="color: white"
                href="#"
                data-toggle="modal"
                data-dismiss="modal"
                data-target="#login_modal"
                >Login</a
              >
            </li>
            <li class="link-item">
              <a
                class="btn btn-primary btn-sm"
                style="color: white"
                href="#"
                data-toggle="modal"
                data-dismiss="modal"
                data-target="#register_modal"
                >Register</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-header">
  <div class="container-fluid theme-container">
    <div class="row align-items-center">
      <div class="col-auto">
        <ul class="header-left-options">
          <li class="link-item open-sidebar">
            <i class="ti-menu"></i>
          </li>
        </ul>
      </div>
      <div class="col text-center">
        <img src="assets/img/logo.png" alt="logo" class="header-logo" />
      </div>
      <div class="col-auto">
        <ul class="header-right-options">
          <li class="link-item">
            <span class="badge badge-secondary">0</span>
            <i class="ti-bag"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-sidebar">
      <div class="close">
        <i class="ti-close"></i>
      </div>

      <div class="welcome d-flex align-items-center">
        <a
          href="#"
          data-toggle="modal"
          data-dismiss="modal"
          data-target="#login_modal"
          class="btn btn-soft-primary btn-md"
          >Login</a
        >
        <a
          href="#"
          data-toggle="modal"
          data-dismiss="modal"
          data-target="#register_modal"
          class="btn btn-primary btn-md"
          >Register</a
        >
        <!-- <div class="avater btn-soft-primary">H</div>
                    <span>Hi, Deep saha</span> -->
      </div>
      <div class="mobileMenuLinks mb-4 mt-2">
        <h6>Account Info</h6>
        <ul>
          <li><a href="account.html">Account</a></li>
          <li><a href="orders.html">My Orders</a></li>
          <li><a href="wishlist.html">Wish List</a></li>
          <li><a href="index.html">Logout</a></li>
        </ul>
      </div>
      <div class="mobileMenuLinks">
        <h6>Category</h6>
        <ul>
          <li><a href="category.html">AllMedicines</a></li>
          <li><a href="category.html">COVID Prevention</a></li>
          <li><a href="category.html">Featured</a></li>
          <li><a href="category.html">Fitness</a></li>
          <li><a href="category.html">Diabetes</a></li>
          <li><a href="category.html">COVID Test </a></li>
          <li><a href="category.html">Papular</a></li>
          <li><a href="category.html">Supplements</a></li>
          <li><a href="category.html">Nutrition</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</div>

<div class="slider" data-autoplay="true" data-autoplay-speed="4000">
  <a href="category.html">
    <img src="assets/img/slider/slider-1.svg" alt="" />
  </a>
</div>

<!-- Modal -->
<div
  class="modal clean_modal clean_modal-lg"
  id="login_modal"
  tabindex="-1"
  aria-labelledby="login_modal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <a
              href="#"
              class="
                btn btn-gray-border btn-full
                rounded
                btn-large
                text-capitalize
                mb-3
              "
            >
              <img src="assets/img/facebook.png" alt="" />
              Login with Facebook
            </a>
            <a
              href="#"
              class="
                btn btn-gray-border btn-full
                rounded
                btn-large
                text-capitalize
              "
            >
              <img src="assets/img/google.png" alt="" />
              Login with Google
            </a>
          </div>
          <div class="col-12 text-center">
            <p class="text-muted my-4">Or Login With</p>
          </div>
        </div>
        <div class="login_error d-none">
          <div class="alert" role="alert"></div>
        </div>
        <form action="#" id="login_modal_form" method="POST">
          <div class="form-group">
            <input
              name="email"
              required
              type="email"
              placeholder="Email"
              class="form-control input-lg rounded"
            />
          </div>
          <div class="form-group">
            <input
              name="password"
              required
              type="password"
              placeholder="Password"
              class="form-control input-lg rounded"
            />
          </div>
          <button
            type="submit"
            id="login_btn"
            name="submit"
            class="btn btn-primary btn-full btn-medium rounded"
          >
            Login
          </button>
          <div class="form-group text-center small font-weight-bold mt-3">
            <a
              href="#"
              data-toggle="modal"
              data-dismiss="modal"
              data-target="#forgot_modal"
            >
              Forgot Password?</a
            >
          </div>
          <hr class="my-4" />
          <div class="form-group text-center small font-weight-bold mb-0">
            Don’t have an account?
            <a
              href="#"
              data-toggle="modal"
              data-dismiss="modal"
              data-target="#register_modal"
            >
              Register</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div
  class="modal clean_modal"
  id="forgot_modal"
  tabindex="-1"
  aria-labelledby="forgot_modal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <form action="#" method="POST">
          <div class="form-group">
            <input
              name="password"
              type="password"
              placeholder="Old Password"
              class="form-control input-lg rounded"
            />
          </div>
          <div class="form-group">
            <input
              name="password"
              type="password"
              placeholder="New Password"
              class="form-control input-lg rounded"
            />
          </div>
          <div class="form-group">
            <input
              name="password"
              type="text"
              placeholder="Confirm Password"
              class="form-control input-lg rounded"
            />
          </div>
          <button
            type="submit"
            name="submit"
            class="btn btn-primary btn-full btn-medium rounded"
          >
            Change Password
          </button>
          <div class="form-group text-center small font-weight-bold mt-3">
            Want to
            <a
              href="#"
              data-toggle="modal"
              data-dismiss="modal"
              data-target="#login_modal"
            >
              Login?</a
            >
          </div>
          <hr class="my-4" />
          <div class="form-group text-center small font-weight-bold mb-0">
            Don’t have an account?
            <a
              href="#"
              data-toggle="modal"
              data-dismiss="modal"
              data-target="#register_modal"
            >
              Register</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div
  class="modal clean_modal clean_modal-lg"
  id="register_modal"
  tabindex="-1"
  aria-labelledby="register_modal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <div class="register_error d-none">
          <div class="alert f-size-16" role="alert"></div>
        </div>
        <form action="#" method="POST" id="register_form">
          <div class="row">
            <div class="col-12">
              <a
                href="#"
                class="
                  btn btn-gray-border btn-full
                  rounded
                  btn-large
                  text-capitalize
                  mb-3
                "
              >
                <img src="assets/img/facebook.png" alt="" />
                Register with Facebook
              </a>
              <a
                href="#"
                class="
                  btn btn-gray-border btn-full
                  rounded
                  btn-large
                  text-capitalize
                "
              >
                <img src="assets/img/google.png" alt="" />
                Register with Google
              </a>
            </div>
            <div class="col-12 text-center">
              <p class="text-muted my-4">Or Register With</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group mb-3">
                <input
                  class="form-control"
                  required
                  name="fname"
                  placeholder="First Name"
                  type="text"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group mb-3">
                <input
                  class="form-control"
                  required
                  name="lname"
                  placeholder="Last Name"
                  type="text"
                />
              </div>
            </div>
          </div>
          <div class="form-group mb-3">
            <input
              name="email"
              type="email"
              required
              placeholder="Email"
              class="form-control rounded"
            />
          </div>
          <div class="form-group mb-3">
            <input
              name="password"
              type="password"
              required
              placeholder="Password"
              class="form-control rounded"
            />
          </div>
          <div class="form-group mb-3">
            <input
              name="phone"
              type="text"
              required
              placeholder="Phone"
              class="form-control rounded checkIsNumber phone-check"
            />
          </div>

          <a
            type="submit"
            id="register_btn"
            name="submit"
            class="btn btn-primary btn-full btn-medium rounded"
          >
            Register
          </a>

          <hr class="my-4" />
          <div class="form-group text-center small font-weight-bold mb-0">
            Don’t have an account?
            <a
              href="#"
              data-toggle="modal"
              data-dismiss="modal"
              data-target="#login_modal"
            >
              Login</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
